<script type="text/ng-template" id="procure-material-lineageBox">
<legend class="legendHead" style="padding-bottom:10px;">Product Lineage
		<span class="pull-right" style="color:black;font-weight:600;font-size:12px;padding-right:20px;">
			<img style="width: 30px;padding: 0px 0px 5px 10px;" src="asset/images/smartContract.png"/>
			<i>Smart Contract Verified</i>
		</span>
	</legend>
	<!--old Changes-->
<div class="col-lg-12 col-xs-12 noPadding dataLineage">
		<div class="col-lg-3 col-xs-3 noPadding">
			<div><span class="borderGreenLeft"></span><span class="borderGreen" style="right:-90px;"></span><span class="borderGreenRight" style="right:-95px;"></span></div>
			<div class="img-responsive"><img src="asset/images/dataLineage1.png" style="width:90%" popover-trigger="mouseenter" 
				uib-popover-template="'extraLineageDetails.html'" popover-placement="right"/></div>
			<div class="dataDetails">
				<div class="col-lg-2 col-xs-2 noPadding"><img style="width: 21px;padding:0px;" src="asset/images/smartContract.png"/></div>
				<div class="col-lg-10 col-xs-10 noPadding" style="font-size:11px;">
					<div>{{lineageSubData.name}}</div>
					<div>Prod on: {{lineageSubData.mfgDate}}</div>
					<div>Locn: {{lineageSubData.loc}}</div>
					<div><a><u>Certificate</u></a></div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-xs-3 noPadding">
			<div><span class="borderGreenLeft" style="border-color:#00B0F0;left:95px;"></span><span class="borderGreen" style="border-color:#00B0F0;left:100px"></span><span style="border-color:#00B0F0;" class="borderGreenRight"></span></div>
			<div class="img-responsive text-center"><img src="asset/images/dataLineage2.png" popover-trigger="mouseenter" 
			uib-popover-template="'extraLineageDetails.html'" popover-placement="right"/></div>
			<div class="dataDetails">
				<div class="col-lg-2 col-xs-2 noPadding"><img style="width: 21px;padding:0px;" src="asset/images/smartContract.png"/></div>
				<div class="col-lg-10 col-xs-10 noPadding" style="font-size:11px;">
					<div>{{lineageSubData.name}}</div>
					<div>Prod on: {{lineageSubData.mfgDate}}</div>
					<div>Shipped on: {{lineageSubData.shipmentDate}}</div>
				</div>
			</div>
			
		</div>
		<div class="col-lg-2 col-xs-2 noPadding">
			<img class="smartContractManufactutrer" src="asset/images/smartContract.png"/>
			<div><span style="border-color:#00B0F0;right:-80px" class="borderGreen"></span><span style="border-color:#00B0F0;right:-85px" class="borderGreenRight"></span></div>
			<div class="img-responsive text-center"><img class="middleImages" src="asset/images/dataLineage3.png"/></div>
		</div>
		<div class="col-lg-3 col-xs-3 noPadding">
			<!--<div><span class="borderGreenLeft"></span><span class="borderGreen" style="right:-100px"></span><span class="borderGreenRight" style="right:-108px;"></span></div>-->
			<div><span class="borderGreenLeft" style="left:85px;"></span><span class="borderGreen" style="right:-10px;left:90px"></span><span class="borderGreenRight" style="right:-15px;"></span></div>
			<div class="img-responsive text-center"><img src="asset/images/dataLineage2.png" popover-trigger="mouseenter" 
			uib-popover-template="'extraLineageDetailsManufacturer.html'" popover-placement="left"/></div>
			<div class="dataDetails">
				<div class="col-lg-2 col-xs-2 noPadding"><img style="width: 21px;padding:0px;" src="asset/images/smartContract.png"/></div>
					<div class="col-lg-10 col-xs-10 noPadding" style="font-size:11px;">
						<div>COACH-Manufacturing Center</div>
						<div ng-repeat="data in lineageSubMaterialData">
							<div class=""><strong>{{data.name}}</strong></div>
							<div>Prod on: {{data.mfgDate}}</div>
							<div>Received on: {{data.receivedDate}}</div>
							<div>Locn: {{data.recLoc}}</div>
						</div>
					</div>
				</div>
</div>
		</div>
<!--old Changes-->
	<div style="clear:both"></div>
</script>

 <script type="text/ng-template" id="extraLineageDetails.html">
        <div class="innerPopups">
			<div class="text-center" style="padding-bottom:10px;width:250px;">
							<div class=""><strong>{{lineageSubData.name}}</strong></div>
							<div>Prod on: {{lineageSubData.mfgDate}}</div>
							<div>Locn: {{lineageSubData.loc}}</div>
			</div>
		</div>
</script>
<script type="text/ng-template" id="extraLineageDetailsManufacturer.html">
        <div class="innerPopups">
			<div class="text-center" style="padding-bottom:10px;width:250px;">
					<div><strong>COACH-Manufacturing Center</strong></div>
					<div ng-repeat="data in lineageSubMaterialData">
						<div class=""><strong>{{data.name}}</strong></div>
						<div>Prod on: {{data.mfgDate}}</div>
						<div>Received on: {{data.receivedDate}}</div>
						<div>Locn: {{data.recLoc}}</div>
					</div>
				</div>
		</div>
</script>