<script type="text/ng-template" id="material-procure-confirmBox">
    <legend class="legendHead" style="padding-bottom: 5px;">CONFIRMATION</legend>
    <div class="col-lg-12 col-xs-12 noPadding">
        
		<div class="col-lg-12 col-xs-12 noPaddingLeft">All the selected raw materials have been procured successfully.</div>
    </div>
    <div style="clear:both"></div>
    
	<div class="col-lg-12 col-xs-12 noPaddingLeft text-center" style="padding-top:20px;">
        <a ng-click="redirectUser(true)" class="cursorPointer"><u class="colorLightBlue">OK</u></a>
		<a ng-click="redirectUser(false)" class="cursorPointer" style="padding-left:10px;"><u class="colorLightBlue">CANCEL</u></a>
    </div>
    
    <div style="clear:both"></div>
</script>