<!-- Product/Material shipment by logged user -->

<!-- Directive for app header -->
<app-header isLoggedIn="vm.user.isAuthenticatedUser" user="vm.user"></app-header>
<!-- TO-DO // remove hard-code value -->

<div class="">
    <div class="searchResult col-lg-10 col-md-8 col-sm-10 col-xs-12 padding-top-20">

        <!-- Directive for module header -->
        <app-legend header="SHIP RAW MATERIAL"></app-legend>
        <!-- TO-DO need to apply condition based on profile -->
        <div>
            <div class=" searchResultForm col-lg-12 col-md-12 col-sm-10 col-xs-10">
                <form class="registerMaterial" ng-submit="vm.shipMaterial()">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-6 col-md-6 col-sm-12 text-right-lg text-right-md formLabel">
                                <label for="materialName">Material Name :</label>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-10">
                                <select id="materialName" class="form-control">
                                    <option value="leather">{{vm.ship.materialName}} - {{vm.ship.quality}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-6 col-md-6 text-right-lg text-right-md formLabel">
                                <label for="batchNum">RM Batch Number :</label>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-10">
                                <span class="verticalAlignment">{{vm.ship.batchNumber}}</span>
                                <span class="verticalAlignment pull-right">
                                     <img src="asset/images/qr_search.png" class="pull-left" style="width: 40px;position: absolute;right: 0">
                                     </span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-6 col-md-6 col-sm-12 text-right-lg text-right-md formLabel">
                                <label for="materialWeight">Material Weight :</label>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-10">
                                <span class="verticalAlignment">{{vm.ship.weight}}</span>
                                <span class="verticalAlignment tokenNumberShipProduct">Token : LFG14561</span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-6 col-md-6 col-sm-12 text-right-lg text-right-md formLabel">
                                <label for="quantity">Quantity :</label>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-10">
                                <input ng-required="true" type="text" class="form-control" id="quantity" ng-model="vm.userQuantity">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-6 col-md-6 col-sm-12 text-right-lg text-right-md formLabel">
                                <label for="date">Date of <br class="visible-md"/>Production&nbsp;:</label>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-10">
                                <span class="verticalAlignment">{{vm.ship.productionDate}}</span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-6 col-md-6 col-sm-12 text-right-lg text-right-md formLabel">
                                <label for="carrier">Carrier :</label>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-10">
                                <select id="carrier" class="form-control">
                                    <option id="1" value="fedex">FedEx</option>
                                    <option id="2" value="dtdc">DTDC</option>
                                   </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-6 col-md-6 col-sm-12 text-right-lg text-right-md formLabel">
                                <label for="picture">Manufacturer :</label>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-10">
                                <div class="multiSelectDirective" ng-dropdown-multiselect="" extra-settings="vm.settings" options="vm.manufacturerList" selected-model="vm.exampleModel"
                                    checkboxes="true"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right-lg text-center-xs text-right-md" style="padding-left:0px">
                        <button type="submit" class="btn btn-primary registerBtn">SHIP MATERIAL</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left-lg text-center-xs" style="padding-left:0px">
                        <button type="reset" ng-click="reset()" class="btn btn-primary registerBtn">RESET</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Directive for app side menu -->
<side-menu user="vm.user"></side-menu>

<!-- Directive for displaying confirmation box -->
<dialog-confirmation is-shipment-screen="true"></dialog-confirmation>

<!-- Directive for displaying warning box -->
<dialog-warning></dialog-warning>
