<p class="input-group datePicker">
    <input type="text" class="form-control" uib-datepicker-popup="{{vm.datepickerObj.dateFormat}}" ng-model="vm.product.manufacturingDate" show-button-bar="false"
        is-open="vm.datepickerObj.popup.opened" datepicker-options="vm.datepickerObj.dateOptions" ng-required="true" />
    <span class="input-group-btn">
            <button type="button" class="btn btn-default spanBtn" ng-click="vm.openDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
</p>