<!-- Directive for app header -->
<app-header isLoggedIn="!vm.user.isAuthenticatedUser" user="vm.user"></app-header>
<!-- TO-DO // remove hard-code value -->

<div class="">
  <div class="searchResult col-lg-8 col-md-8 col-sm-10 col-xs-12">

    <!-- Directive for module header -->
    <app-legend header="REGISTER USER"></app-legend>

    <div class="searchResultForm col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <form class="col-lg-8 col-md-9 col-sm-10 col-xs-10" ng-submit="vm.doRegistration()">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 text-right-lg text-right-md text-sm-left text-xs-left formLabel">
            <label for="username">User Name :</label>
          </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <input type="text" class="form-control" id="username" value="" ng-model="vm.newUserObject.userName">
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 text-right-lg text-right-md text-sm-left formLabel">
            <label for="certification">Certification :</label>
          </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <textarea rows="3" class="form-control" id="certification" ng-model="vm.newUserObject.certification"></textarea>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 text-right-lg text-right-md text-sm-left formLabel">
            <label for="consortium">Consortium :</label>
          </div>
          <div class="form-group singleSelect col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <select id="consortium" class="form-control">
                <option value="International Association of Natural Textile Industry(IVN)">International Association of Natural Textile Industry(IVN)</option>
            </select>
			<!--<div class="btn-group" uib-dropdown style="width:100%">
			  <button id="single-buttonConsortium" type="button" class="btn btn-primary textAlignLeft" uib-dropdown-toggle ng-disabled="disabled" style="width:100%;white-space:normal;">
				<span>International Association of Natural Textile Industry(IVN)<span><span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-buttonConsortium" style="width:100%">
				<li role="menuitem"><a href="#">International Association of Natural Textile Industry(IVN)</a></li>
				<li role="menuitem"><a href="#">International Association of Natural Textile Industry(IVN)</a></li>
			  </ul>
			</div>-->
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 text-right-lg text-right-md text-sm-left formLabel">
            <label for="userProfile">Tag user profile :</label>
          </div>
          <div class="form-group singleSelect col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <select id="userProfile" class="form-control">
                <option id="PROD" value="Raw Material Producer">Raw Material Producer</option>
                <option id="MANUFACT" value="Manufacturer">Manufacturer</option>
                <option id="RETAIL" value="Retailer">Retailer</option>
            </select>
			<!-- <div class="btn-group" uib-dropdown style="width:100%">
			  <button id="single-button" type="button" class="btn btn-primary textAlignLeft" uib-dropdown-toggle ng-disabled="disabled" style="width:100%;white-space:normal;">
				<span>Raw Material Producer<span><span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" style="width:100%">
				<li role="menuitem"><a href="#">Raw Material Producer</a></li>
				<li role="menuitem"><a href="#">Manufacturer</a></li>
				<li role="menuitem"><a href="#">Retailer</a></li>
			  </ul>
			</div>-->
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 text-right-lg text-right-md text-sm-left formLabel">
            <label for="qrCode">Generate QR code :</label>
          </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <input type="text" class="form-control" id="qrCode">
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 text-right-lg text-right-md text-sm-left formLabel"></div>
          <div class="registerBtnDiv form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <button type="submit" class="btn btn-primary submitBtnColor">Submit</button>
            <button type="reset" ng-click="vm.reset()" class="btn btn-primary submitBtnColor">Cancel</button>
          </div>
        </div>

      </form>

    </div>
  </div>

<!-- Directive for app side menu -->
<side-menu user="vm.user"></side-menu>