<script type="text/ng-template" id="deleteBox">
<legend class="legendHead">DELETE REGISTRATION
</legend>
<p>Are you sure you want to delete <span ng-if="data.materialName">material {{data.materialName}} </span><span ng-if="data.productName">product {{data.productName}}</span>?</p>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">No</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirmDelete()">Yes</button>
</div>
</script>