<p class="input-group datePicker">
    <input ng-required="true" type="text" class="form-control" id="picture" readonly="true" ng-model="file.name" />
    <span class="input-group-btn">
		<!-- <button type="button" class="btn btn-default spanBtn qrCodeGeneration" type="file" ngf-select="uploadFile($file, $event)"><i class="glyphicon glyphicon-upload uploadIcon"></i></button>-->
    <button type="button" class="btn btn-default spanBtn qrCodeGeneration" type="file" 
               ngf-select="upload({data: $file})"
               ng-model="file" 
               name="file" 
               ngf-pattern="'image/*'"
               accept="image/*" 
               ngf-max-size="20MB"><i class="glyphicon glyphicon-upload uploadIcon"></i></button>
    </span>
</p>
