<!-- header content -->
<header class="container-fluid">
	<div class="row">
		<div class="appName col-lg-6 col-md-6 col-sm-6 col-xs-9">
			<h1>{{:: appName}}</h1>
		</div>
		<div class="appLogo col-lg-6 col-md-6 col-sm-6 col-xs-3 text-right">
			<img src="asset/images/cts_logo.png" width="170" class="hidden-xs" />
			<img src="asset/images/mobileLogo.png" width="60" class="hidden-lg hidden-md hidden-sm" />
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<i>{{:: appDesc}}</i>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 userAccess text-right">
			<ul class="userLogin">
				<li class="loginLink hidden-xs" ng-if="!user.isAuthenticatedUser"><a ui-sref="login"><b>Login</b></a></li>
				<!-- Comment out. Register link will be available in side menu and it's for admin only' -->
				<li class="hidden-xs" ng-if="!user.isAuthenticatedUser"><a ui-sref="home"><b>Home</b></a></li>
				<!--<li class="hidden-xs" ng-if="user.isAuthenticatedUser"><a ui-sref="logout"><b>Sign Out</b></a></li> -->
				<!-- Only for demo instance --->
				<li class="hidden-xs" ng-if="user.isAuthenticatedUser"><a href="#"><b>Sign Out</b></a></li>
				<li class="visible-xs sideMenuPanel">
					<span uib-popover-template="'myPopoverTemplate.html'" popover-title="MENU" popover-trigger="outsideClick" popover-placement="bottom-right"
									class="glyphicon glyphicon-menu-hamburger"></span>
				</li>
			</ul>
		</div>
	</div>
	<!-- USER INFORMATION -->
	<div class="row" id="user-info" ng-if="user.isAuthenticatedUser">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 userAccess text-right">
			<div style="padding: 4px !important;" class="col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-lg-5 col-md-6 col-sm-8 col-xs-12 text-center noPadding">
				<app-top-menu></app-top-menu>
			</div>
			<div class="displayInlineBlock">
				<div>
					<span><b>Welcome</b></span>
					<span><b><i class="userLbl">{{:: user.userName}}</i></b></span>
				</div>
				<div>
					<span><b>You have logged in as</b></span>
					<span><b><i class="userRole">{{:: user.userProfile.alias}}</i></b></span>
				</div>
			</div>
			<div id="user-qrCode" class="displayInlineBlock">
				<img src="asset/images/user_qr.png" width="50px" />
			</div>
		</div>
	</div>
	<!-- Displaying error message if any -->
	<div class="row" id="errorDiv" ng-if="$root.hasError">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="alert alert-danger col-lg-8 col-md-10 col-sm-10 col-xs-12">
				<div class="errorDiv">
					{{$root.ERROR_MSG}}
				</div>
			</div>
		</div>
	</div>
	<!-- Displaying success message if any -->
	<div class="row" id="errorDiv" ng-if="$root.isSuccess">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<ng-include src="'views/success.tpl.html'"></ng-include>
		</div>
	</div>
</header>
<div style="clear:both">
	<script type="text/ng-template" id="myPopoverTemplate.html">
		<div class="col-xs-12 list noPadding">
			<ul>
				<li ng-if="userProfile.isAdmin" class="col-xs-12"><a ng-class="{'selected': activeMenu.userRegister }" ui-sref="register">REGISTER USER</a></li>
				<li ng-if="userProfile.isProducer || userProfile.isManufacturer"  class="col-xs-12"><a ng-class="{'selected': activeMenu.prodRegister }" ui-sref="product">REGISTER PRODUCT</a></li>

				<!-------------------------------------------->
				<li ng-if="userProfile.isProducer || userProfile.isManufacturer"  class="col-xs-12"><a ui-sref="shipment">SHIP PRODUCT</a></li>
				<li class="col-xs-12"><a ng-if="user.isAuthenticatedUser" ng-class="{'selected': activeMenu.trackShip }" ui-sref="home">TRACK SHIPMENTS</a></li>
				<li class="col-xs-12"><a ng-if="user.isAuthenticatedUser" href="#" ng-class="{'selected': activeMenu.dashboard }">DASHBOARD</a></li>
				<li ng-if="userProfile.isManufacturer" class="col-xs-12"><a ng-class="{'selected': activeMenu.prodAck }" ui-sref="acknowledge">PROCURE RAW MATERIAL</a></li>
				<li ng-if="userProfile.isRetailer" class="col-xs-12"><a ng-class="{'selected': activeMenu.prodAck }" ui-sref="acknowledge">ACKNOWLEDGE PRODUCTS</a></li>
				<li class="col-xs-12" ng-if="!user.isAuthenticatedUser"><a ui-sref="login"><b>LOGIN</b></a></li>
				<li class="col-xs-12" ng-if="!user.isAuthenticatedUser"><a ui-sref="home"><b>HOME</b></a></li>

				<!-- <li class="col-xs-12" ng-if="user.isAuthenticatedUser"><a ui-sref="logout"><b>SIGN OUT</b></a></li> -->

				<!--- For demo instance only --->	
				<li class="col-xs-12" ng-if="user.isAuthenticatedUser"><a href="#"><b>SIGN OUT</b></a></li>
			</ul>
		</div>
	</script>
</div>