<div class="userType">
    <label class="radio-inline pull-left" style="padding-left:0px;">View as : </label>
    <label class="radio-inline"><input type="radio" ng-click="onSelect($event)" name="userProfile" ng-checked="userProfile.isProducer" id="producer"><span class="hidden-xs">Raw material</span> Producer</label>
    <label class="radio-inline"><input type="radio" ng-click="onSelect($event)" name="userProfile" ng-checked="userProfile.isManufacturer" id="manufacturer">Manufacturer</label>
    <label class="radio-inline"><input type="radio" ng-click="onSelect($event)" name="userProfile" ng-checked="userProfile.isRetailer" id="retailer">Retailer</label>
</div>