<div class="userType">
                <label class="radio-inline pull-left" style="padding-left:0px;">View As: </label>
                
                <label class="radio-inline"><input type="radio" ng-click="onSelect($event)" name="userProfile" ng-checked="userProfile.isProducer" id="Producer"><span class="hidden-xs">Raw material</span>Producer</label>
                <label class="radio-inline"><input type="radio" ng-click="onSelect($event)" name="userProfile" ng-checked="userProfile.isManufacturer" id="Manufacturer">Manufacturer</label>
                <label class="radio-inline"><input type="radio" ng-click="onSelect($event)" name="userProfile" ng-checked="userProfile.isRetailer" id="Retailer">Retailer</label>
</div>
