<div id="uploadQRDialog">
  <div ng-if="vm.hasUploadErr" class="row col-md-offset-1 col-md-7 col-sm-8 col-xs-11 alert alert-danger uploadErrDiv padding-right-0">
        <div> {{:: vm.UPLOAD_ERR}} </div>
      </div>
    <form class="" ng-submit="searchQR()">
        <div class="">
          <div class=" text-right-lg text-right-md formLabel">
            <label for="qrCode">Upload QR Code :</label>
          </div>
          <div class="form-group noPadding">
            <qr-code-reader></qr-code-reader>
          </div>
        </div>

        <div class="">
          <div class="formLabel"></div>
          <div class="form-group ">
            <button type="submit" class="btn btn-primary submitBtnColor">Submit</button>
            <button type="button" ng-click="reset()" class="btn btn-primary submitBtnColor">Cancel</button>
          </div>
        </div>

      </form>
</div>